


<form method="POST">
    <label>Equation(s):</label>
    <input name="equation" placeholder="e.g. sin(x); x**2 - 4" required><br>

    <label>X-axis Range:</label>
    From <input type="number" step="0.1" name="x_start" value="-10" required>
    to <input type="number" step="0.1" name="x_end" value="10" required><br>

    <label>Y-axis Range:</label>
    From <input type="number" step="0.1" name="y_min" value="-10" required>
    to <input type="number" step="0.1" name="y_max" value="10" required><br>

    <button type="submit">Plot</button>
</form>

{% if plot_url %}
    <h3>Plotted Graph:</h3>
    <img src="data:image/png;base64,{{ plot_url }}" style="max-width: 100%;">
    <a href="{{ url_for('download_equation_plot') }}">Download Graph</a>
{% endif %}

<hr>
<h2>Solve Equation(s)</h2>
<form method="POST" action="{{ url_for('solve_equation') }}">
    <input name="solve_equation" placeholder="e.g. x + y = 5; x - y = 1" required>
    <button type="submit">Solve</button>
     <a href="{{ url_for('dashboard') }}" class="button">🏠 Home</a>
</form>
